@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <section>
        <br/>
        <hr/>
        <h1>CAUTION!</h1>
        <hr/>
        <br/>


        <div>
            You don't have access to this page!
        </div>
    </section>
    
}

<style scoped>
    section {
        width: 1440px;
        color: white;
    }
</style>